<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app id="WebApp_ID">
	<display-name>pages</display-name>
	<servlet>
		<servlet-name>RegisterSubmitController</servlet-name>
		<display-name>RegisterSubmitController</display-name>
		<description></description>
		<servlet-class>com.tcs.controller.RegisterSubmitController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginSubmitController</servlet-name>
		<display-name>LoginSubmitController</display-name>
		<description></description>
		<servlet-class>com.tcs.controller.LoginSubmitController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogoutSubmitController</servlet-name>
		<display-name>LogoutSubmitController</display-name>
		<description></description>
		<servlet-class>com.tcs.controller.LogoutSubmitController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddTheaterController</servlet-name>
		<display-name>AddTheaterController</display-name>
		<description></description>
		<servlet-class>com.tcs.controller.AddTheaterController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Select_movie</servlet-name>
		<display-name>Select_movie</display-name>
		<description></description>
		<servlet-class>com.tcs.controller.Select_movie</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BookTicketController</servlet-name>
		<display-name>BookTicketController</display-name>
		<description></description>
		<servlet-class>com.tcs.controller.BookTicketController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddMovieController</servlet-name>
		<display-name>AddMovieController</display-name>
		<description></description>
		<servlet-class>com.tcs.controller.AddMovieController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ChangePasswordController</servlet-name>
		<display-name>ChangePasswordController</display-name>
		<description></description>
		<servlet-class>com.tcs.controller.ChangePasswordController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ResponseController</servlet-name>
		<display-name>ResponseController</display-name>
		<description></description>
		<servlet-class>com.tcs.controller.ResponseController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ModifyTheaterController</servlet-name>
		<display-name>ModifyTheaterController</display-name>
		<description></description>
		<servlet-class>com.tcs.controller.ModifyTheaterController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterSubmitController</servlet-name>
		<url-pattern>/RegisterSubmitController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginSubmitController</servlet-name>
		<url-pattern>/LoginSubmitController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutSubmitController</servlet-name>
		<url-pattern>/LogoutSubmitController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddTheaterController</servlet-name>
		<url-pattern>/AddTheaterController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Select_movie</servlet-name>
		<url-pattern>/Select_movie</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BookTicketController</servlet-name>
		<url-pattern>/BookTicketController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddMovieController</servlet-name>
		<url-pattern>/AddMovieController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangePasswordController</servlet-name>
		<url-pattern>/ChangePasswordController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ResponseController</servlet-name>
		<url-pattern>/ResponseController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ModifyTheaterController</servlet-name>
		<url-pattern>/ModifyTheaterController</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
